# Core
numpy
scipy
pandas
scikit-learn
matplotlib
#seaborn
#networkx

# Notebook
ipykernel
ipympl
ipywidgets
jupyterlab

# Visualization and analysis
graphtools
#scprep
#PyGSP
#ripser
#persim

# Torch
torch
torchvision
torchmetrics
torch-optimizer
pytorch-ranger

# Utilities
#future
#wrapt
#joblib
tqdm
h5py